@using AuctionHome.Library
@model IEnumerable<AuctionHome.Models.Item>
@{
    // authenticate Username;
    string authUser = null;
    
    string @disabled = "disabled";
    foreach(var claim in User.Claims) 
    { 
        if(claim.Type=="username" )
        {
            authUser = claim.Value;
            break;
        }
       
    }
}


<div class=" d-flex align-content-center flex-wrap"  >
    @foreach(var item in Model)
    {
        decimal myAucCost = 0;
        string lightyellow = "";
        string disabledMyAuc = "disabled"; 
        foreach(var myAuctioning in item.MyAuctionings)
        {
            if(myAuctioning.IdItem == item.Id && myAuctioning.IdUser == authUser)
            {
                myAucCost = myAuctioning.Cost;
                lightyellow = "lightyellow";
                disabledMyAuc = "";
            }
        }
         
        
        long getDateTimeToSeconds = new TimeToSeconds().getDateTiemToSeconds(item);
        

        string dataUrl = null;
        dataUrl = new HandleFormImage().getUrlImage(item.ImageItems);
        string elementCount = "countdown" + item.Id;
        
        string timerFC = "timer" + item.Id + "()";
       
        string countdownTimer = "countdownTimer" + item.Id;
        string seconds = "seconds" + item.Id;
        int id = item.Id;
        <script>
            
            var @seconds = @getDateTimeToSeconds
            
            function @timerFC {
                var days = Math.floor(@seconds / 24 / 60 / 60);
                var hoursLeft = Math.floor((@seconds) - (days * 86400));
                var hours = Math.floor(hoursLeft / 3600);
                var minutesLeft = Math.floor((hoursLeft) - (hours * 3600));
                var minutes = Math.floor(minutesLeft / 60);
                var remainingSeconds = @seconds % 60;
                function pad(n) {
                    return (n < 10 ? "0" + n : n);
                }
                document.getElementById("@elementCount").innerHTML = pad(days) + ":" + pad(hours) + ":" + pad(minutes) + ":" + pad(remainingSeconds);
                if (@seconds <= 0) {
                    clearInterval(@countdownTimer);
                    document.getElementById("@elementCount").innerHTML = "Completed"; // completed to 0 timer
                } else {
                    @seconds--;
                }
            }
            var @countdownTimer = setInterval('@timerFC', 1000);
        </script>   

        <div class="card" id="customize-sub-car" style="background-color:@lightyellow;"  > 
            <img class="card-img-top" src="@dataUrl" alt="Card image cap" id="customize-image">
           
            <div class="card-body">
              <span id="@elementCount" class="timer"></span>
              
              <h4>
                  <a asp-action="Details" asp-route-id="@item.Id"  class="card-title"> 
                    Name of Items: @item.Id  
                 </a>
              </h4>
                
              <strong>💰 @item.PriceAuction </strong> 
              <br>
              <strong > More information about Items:</strong>
              <p class="inline-block text-truncate"  > @item.Description</p>
              
                  
                @if(myAucCost != 0)
                {
                    <p style="color:red">💰 @myAucCost</p>
                }

            </div>
            <div class="card-footer" id="customize-card-footer">
                <div class="btn-group">
                  <button @if(item.Auction2 < DateTime.Now || item.Auction2 == null){@disabled;} type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Action
                  </button>
                  <form class="dropdown-menu" asp-controller="HandleAuctioning" asp-action="AddOrEdit" asp-route-idItem="@item.Id">
                    @if(myAucCost != 0)
                        {
                            <p > My Money</p>
                        }
                    else
                        {
                             <p>You are not Auctioning</p>
                        }
                       
                    <div class="dropdown-divider"></div>
                    <input type ="number" placeholder="Enter your money" value="" name="myMoney" />
                    @if(myAucCost != 0)
                        {
                            <p style="color:red">💰 @myAucCost</p>
                        }
                    else
                        {
                             <p>💰0</p>
                        }
                       

                    <div class="dropdown-divider"></div>
                    <button class="btn btn-primary dropdown-item" type="submit">submit</button>

                                       
                  </form>
                  <!---->
                   @if(myAucCost != 0)
                        {
                        <form   asp-controller="MyAuctionings" asp-action="Delete" asp-route-idItem="@item.Id" onsubmit="return cancelAuction(this);" autocomplete="off">
                            <button @if(item.Auction2 < DateTime.Now || item.Auction2 == null){@disabled;} 
                            type="submit" class="btn btn-primary">
                            Cancel
                            </button>
                        </form>
                        }
                   
                </div>

            </div>
      </div>
    }
    
</div>

<style>
    #customize-list-card {
       
       
        justify-content: center;
        margin:auto;
    }
    #customize-sub-car{
        width: 280px;
        height: 400px;
        margin: 10px;
        justify-content: center;
       
      
      
    }
    #customize-image {
        width:50px;
        height:100px;
        margin:auto;

    }
    #customize-card-footer {
      
    }
</style>