@model AuctionHome.Models.User

@{
    ViewData["Title"] = "Details";


 
}

<h1>Details User</h1>

<div>    
    <hr />
    <dl class="row">
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lockuser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lockuser)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaypalSandbox)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaypalSandbox)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Wallet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Wallet)
        </dd>
    </dl>
    <hr />
    @{
        if(ViewBag.editUser == true)
        {
            <a class="btn btn-primary" asp-action="Edit" > Edit</a>
        }
        else
        {
            <button class="btn btn-secondary">You can only view</button>
        }
    }
    
</div>


