@model IEnumerable<AuctionHome.Models.PaidItem>

@{
    ViewData["Title"] = "Index";
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Coust)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdItems)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdItemsNavigation.IdCategoryNavigation.Name)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Coust)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdItems)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdItemsNavigation.IdCategoryNavigation.Name)
            </td>
            
            <td>
                
                <a asp-controller="Items" asp-action="Details" asp-route-id="@item.IdItems">Details</a>
                
            </td>
        </tr>
}
    </tbody>
</table>
